body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
}

hr {
    width: 75%;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
}

.top-bar {
    margin: 0;
    padding: 15px 0;
    width: 100%;
    background-color: black;
    color: white;
}

.options {
    display: flex;
    width: max-content;
    margin-right: auto;
    margin-left: 20px;
}

.menu-option {
    margin: 0 10px;
}

#principal {
    width: 75%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

header img {
    border-radius: 45%;
}

h1 {
    margin: 0;
}

#picture {
    height: 500px;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    width: 50%;
}

#description {
    padding: 50px 0;

}

.button {
    background-color: dodgerblue;
    padding: 5px 10px;
    border: 0;
    border-radius: 5%;
    color: white;
    font-size: medium;
    font-weight: 600;
}

.secundary-container {
    padding: 50px 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
}

.card {
    width: 300px;
    text-align: center;
    margin: 10px;
    padding: 10px 50px;
    border-radius: 5%;
}

.menu-option p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
    background-color: rgb(6, 128, 250);
    cursor: pointer;
}

.card:hover {
    background-color: rgb(243, 241, 241);
    text-decoration: underline;
}